<p id="notice"><%= notice %></p>

<h1>Perguntas Assessjurs</h1>

<table>
  <thead>
    <tr>
      <th>Duvida</th>
      <th>Tel</th>
      <th>Email</th>
      <th>Tp duvida</th>
      <th>Status</th>
      <th>Numatd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perguntas_assessjurs.each do |perguntas_assessjur| %>
      <tr>
        <td><%= perguntas_assessjur.duvida %></td>
        <td><%= perguntas_assessjur.tel %></td>
        <td><%= perguntas_assessjur.email %></td>
        <td><%= perguntas_assessjur.tp_duvida %></td>
        <td><%= perguntas_assessjur.status %></td>
        <td><%= perguntas_assessjur.numatd %></td>
        <td><%= link_to 'Show', perguntas_assessjur %></td>
        <td><%= link_to 'Edit', edit_perguntas_assessjur_path(perguntas_assessjur) %></td>
        <td><%= link_to 'cadastrar pergunta em mesmo atendimento', "novp/#{perguntas_assessjur.id}" %></td>
        <td><%= link_to 'Destroy', perguntas_assessjur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Perguntas Assessjur', new_perguntas_assessjur_path %>
