<p id="notice"><%= notice %></p>

<p>
  <strong>Duvida:</strong>
  <%= @perguntas_assessjur.duvida %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @perguntas_assessjur.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @perguntas_assessjur.email %>
</p>

<p>
  <strong>Tp duvida:</strong>
  <%= @perguntas_assessjur.tp_duvida %>
</p>

<p>
  <strong>Status:</strong>
  <%= @perguntas_assessjur.status %>
</p>

<p>
  <strong>Numatd:</strong>
  <%= @perguntas_assessjur.numatd %>
</p>

<%= link_to 'Edit', edit_perguntas_assessjur_path(@perguntas_assessjur) %> |
<%= link_to 'Back', perguntas_assessjurs_path %>
