<p id="notice"><%= notice %></p>

<p>
  <strong>Duvida:</strong>
  <%= @perguntas_assessjur2.duvida %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @perguntas_assessjur2.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @perguntas_assessjur2.email %>
</p>

<p>
  <strong>Tp duvida:</strong>
  <%= @perguntas_assessjur2.tp_duvida %>
</p>

<p>
  <strong>Status:</strong>
  <%= @perguntas_assessjur2.status %>
</p>

<p>
  <strong>Numatd:</strong>
  <%= @perguntas_assessjur2.numatd %>
</p>

<%= link_to 'Edit', edit_perguntas_assessjur2_path(@perguntas_assessjur2) %> |
<%= link_to 'Back', perguntas_assessjur2s_path %>
